.exercise-main-page {
    height: 100vh;
}

.exercise-main-page form {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise-main-page form input {
    width: 40vw;
    height: 5vw;
}
.exercise-main-page form button {
    width: 41vw;
    height: 5vw;
}
.exercises-box {
    height: 75vh;
    width: 99vw;
    overflow-x: scroll;
}
