.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    gap: 20vh;
}

.btn-container {
    overflow: hidden;
    border-style: solid;
    width: 20vw;
    border-radius: 90vh;
    height: 9.5vh;
}

.btn {
    /* padding: 0px; */
    /* margin-left: -14vw; */
    border-radius: 90vh;
    background-color: red;
    color: black;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: translateX(8.5vw);
    background-color: red;
}

.btn img {
    height: 8vh;
    scale: 1.7;
    padding-top: 3.3px;
}
