.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    background-color: red;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.options button {
    height: 15vh;
    width: 50vw;
    background-color: red;
    color: black;
    font-size: 3vw;
}

.workout:hover {
    background-color: white;
    color: red;
}

.diet {
    /* background-color: beige; */
    transition: background-image 0.3s ease-in-out;
}

.diet:hover {
    background-image: url("../../public/food.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.workout-plan {
    transition: background-image 0.3s ease-in-out;
}
.workout-plan:hover {
    background-image: url("../../public/workout.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.exercise {
    transition: background-image 0.3s ease-in-out;
}
.exercise:hover {
    background-image: url("../../public/excercise.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}