.second-main {
    background-color: red;
    height: 100vh;
    overflow: hidden;
    /* width: 100vw; */
    margin-top: 0;
}

.log-in {
    text-align: end;
}

.log-in h4 {
    width: 95vw;
}

.log-in h4:hover{
    color: bisque;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
}

.log-in-form input {
    height: 5vh;
    width: 40vw;
    border-radius: 100vh;
    text-align: center;
}

.log-in-form button {
    height: 5vh;
    width: 40vw;
    border-radius: 100vh;
    background-color: white;
}

.log-in-form button:hover{
    background-color: red;
    border-color: black;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 5vh;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.inputs {
    width: 40vw;
    height: 5vh;
    border-radius: 90vw;
    text-align: center;
}

.dropdown {
    width: 41vw;
    height: 5vh;
    border-radius: 90vw;
    text-align: center;
}

.btn-form {
    width: 30vw;
    height: 5vh;
    background-color: white;
    border: none;
    color: black;
    font-size: large;
    border-radius: 90vw;
}

.btn-form:hover {
    background-color: red;
    border-color: black;
    border-style: solid;
}