.main-workout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    align-items: center;
    width: 100vw;
}

.btns {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    height: 10vh;
}

.btns button {
    width: 33vw;
    background: none;
    height: 10vh;
    border: none;
    font-size: 8vh;
}

.btns button:hover {
    border-style: solid;
    border-left: none;
    border-right: none;
    margin-bottom: 2vw;
    border-color: gray;
    background-color: red;
}

.no-days {
    width: 60vw;
    font-size: 2vh;
    text-align: center;
    background-color: red;
    color: white;
}