.calendar-wrapper {
    max-width: 400px; /* Optional: Set a maximum width for the calendar */
    margin: 0 auto; /* Center the calendar horizontally */
  }
  
  .react-calendar {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
  }
  
  .special-date {
    background-color: #ff6347; /* Reddish background color */
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
  }