.react-calendar {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.custom-calendar {
    transform: scale(1.3);
}

.react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
}

.important-date {
    background-color: #ff6347; /* Reddish background color */
    color: white;
    border-radius: 1000vw;
  }

/* .custom-calendar .react-calendar__tile {
   
    width: 100px;
    height: 100px;
    line-height: 6vh;
} */

@media (max-width:768px) {
    .custom-calendar .react-calendar__tile {
        /* Custom dimensions for each date cell */
        width: 5vh;
        height: 5vh;
        line-height: 2.5vh; /* Center content vertically */
    }
    .custom-calendar {
        transform: scale(1);
    }

}